@import 'variables';
@import 'mixins';

@include for-mobile-only {
	.search-section {
		.react-autosuggest__container {
			position: relative;
			right: 0;
			bottom: 0;
		}
		
		.react-autosuggest__input {
			position: relative;
			transition: 0.5s;
			outline: none;
			-webkit-appearance: none;
			background: white;
			&:focus {
				background: white;
			}
			border: 3px solid $color5;
			border-radius: 26px;
			box-sizing: border-box;
			padding: 5px 15px 7px;
			font-size: 20px;
			color: $color5;
			width: 300px;
			height: 50px;
			font-size: 25px;
			margin-bottom: 30px;
			&::placeholder {
				color: lighten($secondary-color, 40%);
				font-size: 20px;
			}
			z-index: 10;
		}
		
		.react-autosuggest__input--focused {
			outline: none;
		}
		
		.react-autosuggest__input--open {
			border-bottom-left-radius: 0;
		}
		
		.react-autosuggest__suggestions-container {
			display: none;
		}
		
		.react-autosuggest__suggestions-container--open {
			color: $color5;
			max-height: 200px;
			overflow: scroll;
			display: block;
			position: absolute;
			top: 47px;
			left: 0;
			width: 150px;
			border: 3px solid $color5;
			background-color: #fff;
			font-weight: 300;
			font-size: 16px;
			border-bottom-left-radius: 26px;
			border-bottom-right-radius: 26px;
			z-index: 2;
		}
		
		.react-autosuggest__suggestions-list {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		
		.react-autosuggest__suggestion {
			cursor: pointer;
			padding: 5px 20px;
		}
		
		.react-autosuggest__suggestion--highlighted {
			background-color: $color1;
		}
	}
	
	.search-section.moved-up {
		.react-autosuggest__input {
			width: 200px;
			height: 40px;
			margin-bottom: 15px;
		}

		.react-autosuggest__suggestions-container--open {
			left: 0;
			top: 37px;
		}
	}
}

@include for-desktop-up {
	.search-section {
		.react-autosuggest__container {
			position: relative;
			right: 0;
			bottom: 0;
		}
		
		.react-autosuggest__input {
			position: relative;
			transition: 0.5s;
			outline: none;
			-webkit-appearance: none;
			background: white;
			&:focus {
				background: white;
			}
			border: 3px solid $color5;
			border-radius: 26px;
			box-sizing: border-box;
			padding: 5px 15px 7px;
			font-size: 14px;
			color: $color5;
			width: 500px;
			height: 60px;
			font-size: 25px;
			margin: 15px;
			&::placeholder {
				color: lighten($secondary-color, 40%);
			}
			z-index: 10;
		}
		
		.react-autosuggest__input--focused {
			outline: none;
		}
		
		.react-autosuggest__input--open {
			border-bottom-left-radius: 0;
		}
		
		.react-autosuggest__suggestions-container {
			display: none;
		}
		
		.react-autosuggest__suggestions-container--open {
			color: $color5;
			max-height: 200px;
			overflow: scroll;
			display: block;
			position: absolute;
			top: 72px;
			left: 15px;
			width: 150px;
			border: 3px solid $color5;
			background-color: #fff;
			font-weight: 300;
			font-size: 16px;
			border-bottom-left-radius: 26px;
			border-bottom-right-radius: 26px;
			z-index: 2;
		}
		
		.react-autosuggest__suggestions-list {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		
		.react-autosuggest__suggestion {
			cursor: pointer;
			padding: 5px 20px;
		}
		
		.react-autosuggest__suggestion--highlighted {
			background-color: $color1;
		}
	}
	
	.search-section.moved-up {
		.react-autosuggest__input {
			width: 400px;
			height: 45px;
		}
		.react-autosuggest__suggestions-container--open {
			top: 57px;
		}
	}
}