@import 'variables';
@import 'mixins';

@include for-mobile-only {
    .browse-pokemon-arrow {
        line-height: 100%;
        font-size: 50px;
    
        transition: 0.1s;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
}

@include for-desktop-up {
    .browse-pokemon-arrow {
        line-height: 100%;
        font-size: 50px;
    
        transition: 0.1s;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
}

