@import 'variables';
@import 'mixins';

.header {
    color: $primary-color;
    background-color: lighten($secondary-color, 10%);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;


    
    .content {
        font-size: 20px;
        margin: 0 auto;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $site-width;

        .poke-icons {
            img {
                height: 35px;
                margin-left: 15px;
                padding: 3px;
                -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
                filter: grayscale(70%);
                // border: 2px solid rgba(255, 255, 255, 0.116);
                // border-radius: 50%;
                transition: 0.1s;
                &:hover {
                    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(0%);
                }
            }
        }
    }


    .gradient {
        
        background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
        height: 30px;
    }
}