@import 'variables';
@import 'mixins';

@include for-mobile-only {}
@include for-desktop-up {}

.hover-info {
    position: absolute;
    padding: 5px;

    border: 2px solid $color5;
    width: 200px;
    background: $color3;
    font-size: 15px;
}