@import 'variables';
@import 'mixins';

@include for-mobile-only {
    .hover-info {
        position: absolute;
        padding: 5px;
        right: 0;
        border: 2px solid $color5;
        width: 200px;
        background: rgba($color3, 0.9);
        font-size: 15px;
    }
}

@include for-tablet-only {
    .hover-info {
        position: absolute;
        padding: 5px;
        right: 0;
        border: 2px solid $color5;
        width: 200px;
        background: rgba($color3, 0.9);
        font-size: 15px;
    }
}

@include for-desktop-up {
    .hover-info {
        position: absolute;
        padding: 5px;
    
        border: 2px solid $color5;
        width: 200px;
        background: $color3;
        font-size: 15px;
    }
}

