@import 'variables';
@import 'mixins';

@include for-mobile-only {}
@include for-desktop-up {}

.pokemon-description {
    font-size: 14px;
    margin-bottom: $detailed-view-margins;
    line-height: 20px;
}