@import 'variables';
@import 'mixins';

@include for-mobile-only {
    .no-results {
        color: $color5;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        img {
            image-rendering: pixelated;
            width: 150px;
            margin-bottom: 20px;
        }
    }
}

@include for-tablet-only {
    .no-results {
        color: $color5;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        img {
            image-rendering: pixelated;
            width: 150px;
            margin-bottom: 10px;
        }
    }
}

@include for-desktop-up {
    .no-results {
        color: $color5;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        img {
            image-rendering: pixelated;
            width: 200px;
            margin-bottom: 10px;
        }
    }
}

