@import 'variables';
@import 'mixins';

.pokemon-view-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    color: $primary-color;
    .pokemon-view-contents {
        //padding: 20px;
        width: $site-width;
        height: 500px;
        border: 3px solid $color5;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.418);

        overflow: scroll;
    }

}
