@import 'variables';
@import 'mixins';

.search-section {
    transition: 0.5s;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;

    .search-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .search-bar-container {
            position: relative;
        }

        #mainSearchBar {
            position: relative;
            transition: 0.5s;
            outline: none;
            -webkit-appearance: none;
            background: white;
            &:focus {
                background: white;
            }
            border: 3px solid $color5;
            border-radius: 26px;
            box-sizing: border-box;
            padding: 5px 15px 7px;
            font-size: 14px;
            color: $color5;
            width: 500px;
            height: 60px;
            font-size: 25px;
            margin: 15px;
            &::placeholder {
                color: lighten($secondary-color, 40%);
            }
            z-index: 10;
        }

        .buttons {
            display: flex;
            
            #mainSubmitBtn, button {
                color: $color5;
                width: 100px;
                height: 20px;
                transition: 0.1s;
                margin: 0 10px 0 10px;
                border: 2px solid $color5;
                background: white;
                border-radius: 26px;
                &:hover {
                    cursor: pointer;
                    background: white;
                    transform: scale(1.1);
                }
            }
        }
    }

    .dropdown {
        position: absolute;
        width: 494px;
        max-height: 300px;
        overflow: scroll;
        background: white;
        color: $secondary-color;
        border: 3px solid lighten($secondary-color, 40%);
        top: 40px;
        left: 15px;
        z-index: 3;
    }
}

.moved-up {
    
    &.search-section {
        height: 180px;
        #mainSearchBar {
            width: 400px;
            height: 45px;
        }
        .dropdown {
            width: 394px;
        }
    }

}

