@import 'variables';
@import 'mixins';

.sorting-section {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .sorting-form {
        // margin: 10px 0 10px 0;
        & > * {
            margin: 0 4px 0 4px;
        }
        span {
            margin-left: 0;
        }
        
    }
}
