@import 'variables';
@import 'mixins';

.sorting-section {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .sorting-from {
        margin: 10px 0 10px 0;
        & > * {
            margin: 0 10px 0 10px;
        }
    }
}
