@import 'variables';
@import 'mixins';

@include for-mobile-only {
    .stat-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 13px;
        .stat-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $color5;
            border-radius: 3px;
            min-width: 15px;
            max-width: 230px;
            height: 15px;
            background: $add-color1;
            color: $color5;
        }
        // .stat-caption {
            
        // }
    }
    
}

@include for-tablet-only {
    .stat-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 13px;
        .stat-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $color5;
            border-radius: 3px;
            min-width: 15px;
            max-width: 230px;
            height: 15px;
            background: $add-color1;
            color: $color5;
        }
        // .stat-caption {
            
        // }
    }
}

@include for-desktop-up {
    .stat-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 13px;
        .stat-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $color5;
            border-radius: 3px;
            min-width: 15px;
            max-width: 230px;
            height: 15px;
            background: $add-color1;
            color: $color5;
        }
        // .stat-caption {
            
        // }
    }
    
}